Repository GreenCity-UA-4146-4625-01/GreenCityMVP21, pull requests merged in 2025-07, with the labels that each got.

#7 test: add comprehensive unit tests for HabitAssignController
  core/src/test/java/greencity/controller/HabitAssignControllerTest.java
Labels: unit test, controller

#27 fix(test): add missing import in CategoryDtoMapperTest
  service/src/test/java/greencity/mapping/CategoryDtoMapperTest.java
Labels: bug, unit test

#21 #53 [Category, POST /category] The response code 400 | Closes #53
  core/src/main/java/greencity/controller/CategoryController.java
Labels: documentation

#31 fix(doc): add missing 400 Bad Request response for POST /econews
  core/src/main/java/greencity/controller/CategoryController.java
  core/src/main/java/greencity/controller/EcoNewsController.java
Labels: bug, documentation, controller

#32 Unit test to package mapping 21 25 synytsia | Closes: #137
  service/src/main/java/greencity/mapping/HabitStatusCalendarMapper.java
  service/src/main/java/greencity/mapping/HabitStatusCalendarVOMapper.java
  service/src/main/java/greencity/mapping/HabitTranslationDtoMapper.java
  service/src/main/java/greencity/mapping/HabitTranslationMapper.java
  service/src/main/java/greencity/mapping/LanguageTranslationDtoMapper.java
  service/src/test/java/greencity/mapping/HabitStatusCalendarMapperTest.java
  service/src/test/java/greencity/mapping/HabitStatusCalendarVOMapperTest.java
  service/src/test/java/greencity/mapping/HabitTranslationDtoMapperTest.java
  service/src/test/java/greencity/mapping/HabitTranslationMapperTest.java
  service/src/test/java/greencity/mapping/LanguageTranslationDtoMapperTest.java
Labels: unit test

#38 140 unit test to package mapping 31-36
  service/src/test/java/greencity/mapping/ShoppingListItemResponseDtoMapperTest.java
  service/src/test/java/greencity/mapping/ShoppingListItemWithStatusRequestDtoMapperTest.java
  service/src/test/java/greencity/mapping/TagDtoMapperTest.java
  service/src/test/java/greencity/mapping/TagMapperTest.java
  service/src/test/java/greencity/mapping/TagVOMapperTest.java
  service/src/test/java/greencity/mapping/UtilsMapperTest.java
Labels: unit test, mapper

#50 146 create the repositories layer event
  dao/src/main/java/greencity/repository/EventRepo.java
Labels: repository, Event

#57 fix-changelogs
  dao/src/main/resources/db/changelog/db.changelog-master.xml
  dao/src/main/resources/db/changelog/logs/ch-add-column-event-Sirobaba.xml
  dao/src/main/resources/db/changelog/logs/ch-add-column-event-date-time-Sirobaba.xml
  dao/src/main/resources/db/changelog/logs/ch-add-column-event-images-Sirobaba.xml
  dao/src/main/resources/db/changelog/logs/ch-add-column-event-location-Sirobaba.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-date-times-Fedchyshyn.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-images-Fedchyshyn.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-locations-Fedchyshyn.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-online-links-Fedchyshyn.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-types-Fedchyshyn.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-events-Fedchyshyn.xml
Labels: bug

#58 149 150 151 create controller layer
  core/src/main/java/greencity/config/SecurityConfig.java
  core/src/main/java/greencity/controller/EventController.java
  core/src/test/java/greencity/ModelUtils.java
  core/src/test/java/greencity/controller/EventControllerTest.java
  service-api/src/main/java/greencity/service/EventService.java
  service/src/main/java/greencity/service/EventServiceImpl.java
  service/src/test/java/greencity/service/EventServiceImplTest.java
Labels: bug, unit test, controller

#59 Added image upload handling inside EventService methods
  core/src/main/java/greencity/controller/EventController.java
  core/src/test/java/greencity/ModelUtils.java
  core/src/test/java/greencity/controller/EventControllerTest.java
  service-api/src/main/java/greencity/constant/ErrorMessage.java
  service-api/src/main/java/greencity/dto/event/CreateEventRequestDto.java
  service-api/src/main/java/greencity/dto/event/EditEventRequestDto.java
  service-api/src/main/java/greencity/service/EventImageService.java
  service-api/src/main/java/greencity/service/EventService.java
  service/src/main/java/greencity/mapping/CreateEventRequestDtoMapper.java
  service/src/main/java/greencity/mapping/EditEventRequestDtoMapper.java
  service/src/main/java/greencity/service/EventImageServiceImpl.java
  service/src/main/java/greencity/service/EventServiceImpl.java
  service/src/test/java/greencity/ModelUtils.java
  service/src/test/java/greencity/service/EventImageServiceImplTest.java
  service/src/test/java/greencity/service/EventServiceImplTest.java
Labels: bug, service

#65 fix(SecurityConfig): change PUT mapping to POST
  core/src/main/java/greencity/config/SecurityConfig.java
Labels: bug, Event

#67 189 190 191 create entity dtos mappers event comment
  dao/src/main/java/greencity/entity/EventComment.java
  dao/src/main/resources/db/changelog/db.changelog-master.xml
  dao/src/main/resources/db/changelog/logs/ch-add-table-event-comment-Sirobaba.xml
  service-api/src/main/java/greencity/dto/eventcomment/AddEventCommentDtoRequest.java
  service-api/src/main/java/greencity/dto/eventcomment/EditEventCommentDtoRequest.java
  service-api/src/main/java/greencity/dto/eventcomment/EventAmountCommentLikesDto.java
  service-api/src/main/java/greencity/dto/eventcomment/EventCommentAuthorDto.java
  service-api/src/main/java/greencity/dto/eventcomment/EventCommentDtoResponse.java
  service-api/src/main/java/greencity/dto/eventcomment/EventShortInfoUserVO.java
  service/src/main/java/greencity/mapping/AddEventCommentDtoRequestToEventCommentMapper.java
  service/src/main/java/greencity/mapping/EditEventCommentDtoRequestToEventCommentMapper.java
  service/src/main/java/greencity/mapping/EventCommentToDtoResponseMapper.java
  service/src/main/java/greencity/mapping/UserToEventCommentAuthorDtoMapper.java
  service/src/main/java/greencity/mapping/UserToEventShortInfoUserVOMapper.java
  service/src/test/java/greencity/mapping/AddEventCommentDtoRequestToEventCommentMapperTest.java
  service/src/test/java/greencity/mapping/EditEventCommentDtoRequestToEventCommentMapperTest.java
  service/src/test/java/greencity/mapping/EventCommentToDtoResponseMapperTest.java
  service/src/test/java/greencity/mapping/UserToEventCommentAuthorDtoMapperTest.java
  service/src/test/java/greencity/mapping/UserToEventShortInfoUserVOMapperTest.java
Labels: unit test, mapper, Event

#64 Add delete event feature with admin/owner access control, update related configs and tests
  core/src/main/java/greencity/config/SecurityConfig.java
  core/src/main/java/greencity/controller/EventController.java
  core/src/test/java/greencity/config/MapperConfig.java
  core/src/test/java/greencity/config/TestSecurityConfig.java
  core/src/test/resources/application-test.properties
  dao/src/main/java/greencity/repository/EventRepo.java
  service-api/src/main/java/greencity/dto/event/EditEventRequestDto.java
  service-api/src/main/java/greencity/security/jwt/JwtTool.java
  service-api/src/main/java/greencity/service/EventService.java
  service-api/src/main/java/greencity/service/UserService.java
  service/src/main/java/greencity/service/EventServiceImpl.java
Labels: documentation, unit test, controller, Event
